body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 500px;
    background-color: #0059b3;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #003d80;
    border-radius: 5px;
}

.header-content {
    text-align: center;
    padding: 50px 20px;
    background: #0073e6;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.specialty-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.specialty-card {
    background-color: #6a4ab1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.specialty-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.specialty-card p {
    font-size: 16px;
    margin: 0;
}

.specialty-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
